body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Roboto", "Segoe UI", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
    height: 100vh;
    margin: 0;
    padding-top: "env(safe-area-inset-top)";
    padding-bottom: "env(safe-area-inset-bottom)";
}

#root { 
    height: 100vh;
}